@import "vars.scss";


*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h2{
    font-size: 80px !important;
    color: $headers !important;
    font-family: $fontSecond;
    margin-bottom: 80px !important;
}
