@import "vars.scss";
@import "mixins.scss";
@import "globals.scss";

header{
        .container{
            z-index: 999999;
            max-width: 1500px;
            
            img{
                z-index: 999999;
                width: 126px;
                height: 78px;
                opacity: 100%;
            }
        }
    


}

.hero{
background-image:linear-gradient(rgba( 0, 0, 0, 0.6), rgba(7, 7, 7, 0.1)), url("img/home-hero.jpg");
width: 1908px;
height: 950px;
position: absolute;
top: 0px;
left: 0px;
@include flex;
    .text-container{
        max-width: 1015px;
        @include flex;
        text-align: center;
        color: $white;
        h1{
            font-family: $fontSecond;
            font-size: 89px;
        }
        p{
            
            font-size: 22px;
            font-family: $fontFamily;
        }

    }
}