@import "globals.scss";
@import "vars.scss";
@import "mixins.scss";

header {
  .banner-wrapper {
    position: relative;
    img {
        width: 100%;
        height: auto;
        display: block;
        @include responsive(mobilni) {
              max-width: 100%;                 
              height: 800px;
            }
            @include responsive(tablet) {
              width: 100%;
              height: 800px;
            }
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        z-index: 1;
        opacity: 74%;
    }
}
  font-family: $fontFamily;
  font-size: 18px;
  nav {
    position: relative;
    top: -1050px;
    @include responsive(mobilni) {
      top: -810px;
      z-index: 9999;
    }
    @include responsive(tablet) {
      top: -810px;
      z-index: 9999;
    }
    .container {
      z-index: 999999;
      margin-top: 15px;
      img {
        width: 126px;
        height: 78px;
        opacity: 100%;
      }
    }
  }
}

.hero {
  z-index: 1;
  position: relative;
  top: -720px;
  @include flex;
  @include responsive(mobilni) {
    top: -720px;
    z-index: 9999;
  }
  .text-container {
    max-width: 1010px;
    @include flex;
    text-align: center;
    color: $white;
    h1 {
      font-family: $fontSecond;
      font-size: 89px;
      @include responsive(mobilni) {
        font-size: 60px;
      }
    }
    p {
      font-size: 22px;
      font-family: $fontFamily;
    }
  }
}

.welcome {
  max-width: 1600px;
  margin: -70px auto;
  @include flex;
  @include responsive(mobilni) {
    max-width: 100%;
    text-align: left;
  }
  @include responsive(tablet) {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .row{
    @include responsive(mobilni) {
        max-width: 100%;
      }
      @include responsive(tablet) {
        max-width: 100%;
      }

    .slike {
        @include flex;
        position: relative;
        left: 30px;
        @include responsive(mobilni) {
            margin: 0;
            max-width: 100%;
            position: relative;
            left: -10px;
          }
          @include responsive(tablet) {
            margin: 0;
            max-width: 100%;
            position: relative;
            left: -20px;
          }
    
        .slika2 {
          position: relative;
          left: 20px;
          top: 80px;
    
          @include responsive(mobilni) {
            margin-bottom: 150px;
            max-width: 100%;
            position: relative;
            left: 0;
          }
          @include responsive(tablet) {
            margin-bottom: 150px;
            max-width: 100%;
          }
        }
      }
      .txt {
        position: relative;
        right: 40px;
        margin-bottom: 20px;
        @include responsive(mobilni) {
            font-size: 12px;
            text-align: left;
            // // l
          }
        h2 {
          @include responsive(mobilni) {
            text-align: center;
            margin-left: 65px;
            position: absolute;
            top: -1400px;
          }
        }
        p {
          font-family: $fontFamily;
          font-size: 1rem;
          line-height: 1.5;
          @include responsive(mobilni) {
            font-size: 1.2rem;
            text-align: left;
            position: relative;
            left: 0px;
          }
        }
        .dugmici {
          display: flex;
          margin-top: 50px;
          position: relative;
          right: 20px;
          @include responsive(mobilni) {
            flex-direction: column;
            align-items: center;
            margin-left: 250px;
          }
          @include responsive(tablet) {
            flex-direction: column;
            align-items: center;
            margin-left: 100px;
          }
          button {
            margin: 0 2px 0 30px;
            padding: 10px 20px !important;
            @include dugme;
            @include responsive(mobilni) {
              margin-bottom: 30px;
            }
            @include responsive(tablet) {
              margin-bottom: 30px;
            }
          }
        }
      }
  }
 
}

.blog {
  @include flex;
  @include responsive(tablet) {
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  }
  @include responsive(mobilni) {
    margin-top: 200px;
  }
  .row {
    @include responsive(mobilni) {
        max-width: 100%;
      flex-direction: column;
      align-items: baseline;
    }
    @include responsive(tablet) {
        max-width: 100%;
      flex-direction: column;
      align-items: baseline;
    }
    article {
      @include responsive(mobilni) {
        max-width: 100%;
      }
      @include responsive(tablet) {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
      }
      img {
        width: 496px;
        height: 204px;
        @include responsive(mobilni) {
          max-width: 100%;
        }
        @include responsive(tablet) {
          max-width: 100%;
        }
      }
      p {
        padding-top: 15px;
        font-family: $fontThird;
        &:first-of-type {
          color: $date;
        }
        &:last-of-type {
          margin-bottom: 52px;
        }
      }
      h5 {
        font-family: $fontThird;
        font-weight: 500;
      }
      hr {
        margin-top: 10px;
        position: relative;
        left: 12px;
        width: 320px;
        border: 1px solid rgba(112, 112, 112, 1);
        opacity: 0.5;
      }
      button {
        position: relative;
        left: 110px;
        @include dugme;
      }
    }
  }
  div{
    margin-top: 55px;
    padding: 10px 15px;
    .sec {

        @include responsive(mobilni) {
          margin-top: 80px;
          margin-left: 150px;
        }
        @include responsive(tablet) {
          margin-top: 80px;
        }
        @include dugme;
    
      }
  }
  
  h2 {
    text-align: center;
  }
  max-width: 1600px;
  margin: 332px auto;
}

footer {
  background-image: url("img/footer-bg.png");
  padding: 50px 0;
  @include responsive(mobilni) {
    max-width: 100%;
  }
  @include responsive(tablet) {
    min-width: 100%;
  }
  h2 {
    color: $white !important;
    text-align: center;
    margin-top: 50px !important;
  }
  .container {
    max-width: 1600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
      img {
        width: 280px;
        height: 165px;
      }
      p {
        font-family: $fontFamily;
        color: $white;
        &:first-of-type {
          margin-top: 40px;
        }
      }
    }
    .forma {
      form {
        font-family: $fontFamily;
        font-size: 14px;
        label {
          color: $white;
        }
        input, textarea {
          background-color: #fff;
          opacity: 58%;
          border-radius: 0 !important;
        }
      }
      a {
        @include dugme;
        background-color: $date;
        margin-top: 38px;
        text-align: center;
        position: relative;
        left: 125px;
        border-radius: 0 !important;
      }
    }
  }
}

// Restoran page

.about{
  margin: auto;
  max-width: 1600px;
  @include responsive(mobilni){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    }
  @include responsive(tablet) {
    max-width: 100%;
  }
  
  article{
    @include responsive(mobilni){
      max-width: 100%;
      display: flex;
      flex-direction: column-reverse;
    }
    @include responsive(tablet){
      max-width: 100%;
      display: flex;
      flex-direction: column-reverse ;
    }
    .slika{
      @include responsive(tablet) {
        max-width: 100%;
        position: relative;
        top: 120px;
        left: -35px;
      }
      @include responsive(mobilni){
        max-width: 100%;
        margin: 0 !important;
        position: relative;
        top: 0;
        left: -6px;
      }
      img{
        @include responsive(mobilni){
          max-width: 100%;
          margin: 0 !important;
          position: relative;
          top: 220px;
          right: -3px;
        }
         @include responsive(tablet){
          max-width: 100%;
        }
      }
    }
    
    .text{
      p{
        font-family: $fontFamily;
        font-size: 15px;
        @include responsive (mobilni) {
          margin-top: -20px;
        }
        @include responsive (tablet) {
          margin-left: 15px;
        }
      }
      width: 730px;
      height: 250px;
      margin-top: 30px;
      h2{
        @include responsive (mobilni) {
          position: relative;
          top: -350px;
        }
        @include responsive (tablet) {
          position:relative;
          top: -350px;
        }
      }
    }

    &:last-of-type{
      @include responsive(tablet) {
        max-width: 100%;
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        left: 0px;
      }
      @include responsive(mobilni){
        max-width: 400px;
        margin: 0;
        position: relative;
        left: 2px;
        top: 300px;
        display: flex;
        flex-direction: column-reverse;
        }
      position: relative;
      left: -130px;
      margin-top: 90px;

      .text{
        margin-top: 150px;
        margin-left: -30px;
        @include responsive(tablet) {
          max-width: 100%;
          position: relative;
          top: 20px;
        }
        @include responsive(mobilni){
          width: 100%;
           margin: 0 auto 200px;
           position: relative;
          top: 100px;
          }
      }
      display: flex;
      flex-direction: row-reverse;
      .slike{
        @include responsive(tablet) {
          max-width: 100%;
          display:  flex;
          margin-top: 20px;
        }
        @include responsive(mobilni){
          display: flex;
          flex-direction: column;
        }
        img{

          @include responsive(mobilni){
            margin-left: -10px;
          }
          max-width: 350px; 
          margin-left: 8px;
          &:last-of-type{
            position: relative;
            top: 60px;
          }
        }

      }
    }
  }
}

.images{
  @include responsive(mobilni){
    max-width: 400px;
    margin:300px 0 50px;

    }
    @include responsive(tablet){
      max-width: 100%;
      margin:300px 0 50px;
  
      }
  max-width: 1600px;
  margin: 300px auto 200px;
  .row{
    @include responsive(tablet){
      max-width: 100%;
      margin: auto;
  
      }
    img{
      max-width: 500px;
      max-height: 360px;
      margin-bottom: 50px;
      margin-left: 20px;
      @include responsive(tablet){
        max-width: 100%;
          margin: 10px auto;
        }
    }
    }
}

.ponuda{
  margin-bottom: 100px;
  h2{
    text-align: center;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  button{
    @include dugme;
  }
}