@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

$fontFamily: "Monsterrat", sans-serif;
$fontSecond : "Great Vibes", cursive;
$black:black;
$button: #0057FF;
$white: white;